/*
Obitos Infantis Rio Grande do Sul
Obitos Infantis Branca

*/

.leg14{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff9900;
}

.leg15{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff000;
}

.leg16{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #00ffff;
}

.leg17{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #0000ff;
}

.leg18{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #9900ff;
}

.leg19{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff00ff;
}

.leg20{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
}

/*
Obitos Infantis Indigenas

*/
.leg21{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #fce5cd;
}

.leg22{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:#f9cb9c;
}

.leg23{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #783f04;
}
/*
Obitos infantis Preta
Obitos infantis Parda
*/
.leg24{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #fce5cd;
    
}
.leg25{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #f9cb9c;
    
}
.leg26{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #f6b26b;
    
}
.leg27{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #e69138;
}
.leg28{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:#b45f06;
}
.leg29{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #783f04;
}
