/*

Violência Psicológica e Moral
Quantidade de Casos de Violência Feminina

*/
.leg30{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #f4cccc;
}


.leg32{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff9900;
}

.leg33{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:#ffff00;
}

.leg34{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:#9900ff;
}

.leg35{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff00ff;
}

.leg36{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #e06666;
}

.leg37{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:#f6b26b;
}

.leg38{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ffd966;
}

.leg39{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:#00ff00;
}
.leg40{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:#274e13;
}