<div id="menu-posicao">
    <ul>
        <li>
                <div><a href="#">Bacias Hidrográficas<span><img [src]="imagem01" /></span></a>
                <div><a href="#">Taxa de Carência Habitacional - Agua<span style="position: absolute; top:-30.2px; left:200px"><img [src]="imagem02" /></span></a></div>
                <div><a href="#">Taxa de óbitos do sexo femi- nino, 5 a 74 anos - evitavel<span style='position:absolute; top:-80.2px; left:200px;'><img [src]="imagem03" /></span></a></div>
                <div><a href="#">Taxa de óbitos maternos, Mulheres Brancas<span style='position:absolute; top:-130.2px; left:200px;'><img [src]="imagem04" /></span></a></div>
                <div><a href="#">Taxa de óbitos maternos, Mulheres Negras<span style='position:absolute; top:-180.2px; left:200px;'><img [src]="imagem05" /></span></a></div>
                
            </div>            
        </li>
        
    </ul>
    </div>