<div id="menu-posicao">
  <ul>
      <li>
            <div><a href="#">Taxa de população Indígena<span style='position:absolute; top:-0.5px; left:199px;'><img [src]="imagem03" /></span></a></div>
            <div><a href="#">Taxa de população Preta<span style='position:absolute; top:-30.5px; left:199px;'><img [src]="imagem05" /></span></a></div>
            <div><a href="#">Densidade de pessoas por km²<span style= 'top:-60.5px; left:199px'><img [src]="imagem01" /></span></a></div>
            <div><a href="#">Taxa de população Branca<span style='position:absolute; top:-90.5px; left:199px;'><img [src]="imagem02" /></span></a> </div>
            <div><a href="#">Taxa de população Parda<span style='position:absolute; top:-120.5px; left:199px;'><img [src]="imagem04" /></span></a></div>
                       
      </li>
      
  </ul>
  </div>
  