<div id="menu-posicao">
    <ul>
        <li>
                <div><a >Taxa de óbitos do sexo feminino menor que cinco anos<span><img [src]="imagem01" /></span></a>
                <div><a>Taxa de óbitos do sexo mas- culino menor que cinco anos<span style='position:absolute; top:-76.2px; left:200px;'><img [src]="imagem02" /></span></a></div>
                <div><a>Taxa de óbitos do sexo femi- nino, 5 a 74 anos - evitavel<span style='position:absolute; top:-152.2px; left:200px;'><img [src]="imagem03" /></span></a></div>
                <div><a>Taxa de óbitos maternos, Mulheres Brancas<span style='position:absolute; top:-228.2px; left:200px;'><img [src]="imagem04" /></span></a></div>
                <div><a>Taxa de óbitos maternos, Mulheres Negras<span style='position:absolute; top:-282.2px; left:200px;'><img [src]="imagem05" /></span></a></div>
                
            </div>            
        </li>
        
    </ul>
    </div>
    