

<div class="div-posicao">


        <p>
        O presente trabalho foi financiado pela Universidade Federal do Rio Grande do Sul (UFRGS) por
         meio do edital número 23/2016 da Secretaria de Educação à Distância (SEAD). Contou com uma parceria
         com pesquisadores(as) da UFRGS e do Instituto Federal do Rio Grande do Sul (IFRS) participantes do
          grupo do CNPq denominado Saúde, Ambiente e Desenvolvimento (grupo SAD).
        </p>
        <p>
        O Atlas consiste em um objeto de aprendizagem com vistas a interação com os temas saúde,
         ambiente e desenvolvimento, transversais e afetos ao contexto do ensino-pesquisa-extensão.
         O material aqui selecionado permite que sejam consultadas informações pertinentes a tríade
         saúde-ambiente-desenvolvimento do estado do Rio Grande do Sul, no formato de mapas temáticos.
         Ainda, a plataforma também conta com textos analíticos de apoio.
        ​</p>
        <p>
        Os pressupostos desse recurso digital de suporte ao ensino são a interdisciplinaridade,
        com vistas à apropriação por diferentes interesses; a multiplicidade temática e a interatividade
        dialógica, permitindo que os saberes possam ser ampliados e rearranjados. No processo
        ensino-aprendizagem é possível vislumbrar tal ferramenta como apoio, possibilitando exemplos ou
        caracterizações; como disparadora de debates e reflexões ou como suporte para ações de pesquisa e
        extensão, por exemplo.
        </p>
  </div>
