    <div class="div-posicao">
     <p>
      <i >Sobre os(as) autores(as):</i>
      ​</p>

      <p>
      <a>Daniel Canavese:</a> Sanitarista, Mestre em Saúde Coletiva (IESC-UFRJ) e Doutor em Ciências da Saúde (USP).
      Atua na graduação e pós-graduação em Saúde Coletiva da Universidade Federal do Rio Grande do Sul (UFRGS).
      </p>

      <p>
      <a>Maurício Polidoro:</a> Geógrafo, mestre em Planejamento Urbano (UFSCAR) e Doutor em Geografia (UFPR).
      Professor do ensino básico, técnico e tecnológico do Instituto Federal de Educação, Ciência e Tecnologia
      do Rio Grande do Sul (IFRS - Campus Restinga, Porto Alegre).
      </p>

      <p>
      <a>Gabriela Pôrto Marques:</a> Bióloga e formação técnica em Meio Ambiente, pelo Instituto Federal de Educação,
      Ciência e Tecnologia do Rio Grande do Sul (IFRS - Campus Porto Alegre). Atualmente realiza o Mestrado em
      Desenvolvimento Rural no Programa de pós-graduação em Desenvolvimento Rural (PGDR) da Universidade Federal
      do Rio Grande do Sul (UFRGS).

      </p>

      <br>
      <br>

        <i> + informações:</i>
        <br>
      ​
        <a link href="http://www.sad.eco.br/" style="color:grey;">http://www.sad.eco.br/</a>
      ​
      </div>
