div{

    position: relative;
    top: 100px;
    left: 300px;
    width: 700px;
    text-align: justify;

}
html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html, body {
  background-color: #ffffff;
}

#menu-lateral{
  position: relative;
  top:30px;
  block-size: 100px;
  left: 10px; 
  width: 200px;  
  }


