<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="projeto">Atlas Ambiental</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="metodologia">Metodologia</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                       Mapas Tematicos
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                      <li><a class="dropdown-item" routerLink="regioes/1">Demografia</a></li>
                      <li><a class="dropdown-item" routerLink="regioes/2">Administrativos</a></li>
                      <li><a class="dropdown-item" routerLink="regioes/3">Violência</a></li>
                      <li><a class="dropdown-item" routerLink="regioes/4">Mortalidade</a></li>
                      <li><a class="dropdown-item" routerLink="regioes/5">Saude Ambiental</a></li>

                    </div>
                  </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Textos de Apoio
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


                    <li><a href="#" class="dropdown-item">Textos de Apoio</a></li>
                    <li><a href="#" class="dropdown-item">Numeros Temáticos</a></li>
                    <li><a href="#" class="dropdown-item">Notas Infromativas</a></li>


                  </div>
                </li>

          <li class="nav-item"> <a class="nav-link" routerLink="equipe" href="#">Equipe</a> </li>




        </ul>
      </div>
    </nav>
<div class="container">
    <router-outlet></router-outlet>
  </div>
  
</div>
