.row{
    width: 500px;
    position: relative;
    left:200px;
    top: 50px; 
}
#enviar{
    position: relative; 
    top:50px; 
    right:275px; 
    background-color:black; 
    color:aliceblue;
    font-family: 'Helvetica Neue', Arial;
    font-size: 18px;  

}

#cancelar{
    position: relative; 
    top:50px; 
    right:275px; 
    background-color:black;
    color:aliceblue;
    font-family: 'Helvetica Neue', Arial;
    font-size: 18px;   
}