<div id="div01">
<nav class="navbar navbar-inverse">
  <div class="container-fluid" >
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"style="position:static; left:1000px">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
        <a class="navbar-brand" routerLink="" id="a01" style="font-size:40px">Atlas Ambiental</a>
     
    
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="metodologia">Metodologia</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mapas Temáticos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="mapas/demografia">Demografia</a></li>
            <li><a routerLink="mapas/administrativos">Administrativos</a></li>
            <li><a routerLink="mapas/violencia">Violência</a></li>
            <li><a routerLink="mapas/mortalidade">Mortalidade</a></li>
            <li><a routerLink="mapas/sambiental">Saúde Ambiental</a></li>

          </ul>
        </li>

         <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Material de Apoio<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Textos de Apoio</a></li>
            <li><a href="#">Numeros Temáticos</a></li>
            <li><a href="#">Notas Infromativas</a></li>
          </ul>
        </li>
        <li><a routerLink="equipe">Equipe</a></li>
        
      </ul>
     

    </div>
     
  </div>
</nav>
</div>

<div id="div02">
    <router-outlet></router-outlet>
</div>
<div>
  
</div>