.leg1{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: palevioletred

}

.leg2{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: brown

}

.leg3{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: blue;
}


.leg4{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: red; 
}

.leg5{
    margin: 10px;   
    width: 20px;
    height: 20px;
    background-color:peru; 
}

.leg6{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: aquamarine;
}


.leg7{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: yellow;
}

.conteudo{
    position: absolute;
    top:-1px;
    left: 45px;
    
}