.leg1{
    position: relative;
    top: 4px; 
    width: 3%;
    height: 3%;
    background-color: palevioletred

}

.leg2{
    position: relative;
    top: 9px;
    width: 3%;
    height: 3%;
    background-color: brown

}

.leg3{
    position: relative;
    top: 14px;
    width: 3%;
    height: 3%;
    background-color: blue

}


.leg4{
    position: relative;
    top: 20px;
    width: 3%;
    height: 3%;
    background-color: red; 

}

.leg5{
    position: relative;
    top: 25px;    
    width: 3%;
    height: 3%;
    background-color:peru; 
}

.leg6{
    position: relative;
    top: 30px;
    width: 3%;
    height: 3%;
    background-color: aquamarine;
}


.leg7{
    position: relative;
    top: 35px;
    width: 3%;
    height: 3%;
    background-color: yellow;
}

.conteudo{
    position: absolute;
    top:-1px;
    left: 45px;
    
}