.legenda{
    position: relative;
    top: 200px; 
}
.leg1{
    margin: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: grey;
    background-color:#ffffff;

}

.leg2{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ffe599;

}

.leg3{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ffd966;
}


.leg4{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:#f1C232; 
}

.leg5{
    margin: 10px;   
    width: 20px;
    height: 20px;
    background-color: #7f6000; 
}

.leg6{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: aquamarine;
}


.leg7{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: yellow;
}

.conteudo{
    position: absolute;
    top:-1px;
    left: 45px;
    
}
