
<div class="menu-lateral" *ngIf="regiao">
  <div class="container-options">
    <div class="container-fluid">
      <div class="col-3">

        <div class="list-group">
          <a *ngFor="let map of regiao.maps; let i = index" routerLink="['mapas'], id" class="list-group-item " (click)="showMap(map.link, map.titulo, map.legenda)">
            <h5 class="list-group-item-heading">{{ map.nome }}</h5>
          </a>
        </div>

        <div *ngIf="showConteudo" class="box-conteudo">

          <div class="titulo">
            <h3>{{ regiao.regiao }}</h3>
          </div>
          <div class="box-texto">
            <p>
              {{ regiao.desc }}
            </p>
          </div>
        </div>

       {{legenda}}

        <div *ngIf="!showConteudo" class="box-conteudo map-frame">
            <h1>   {{ titulo }} </h1>
          <iframe class="col" width="700" height="500" scrolling="no" frameborder="no" [src]=" this.mapUrl | safe"></iframe>
        <button value="Voltar"></button>


        </div>
