<div class="container-options">
<div class="container-fluid">
  <div class="col-sm-3">

        <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Apresentação
              </a>
            </h5>
          </div>



          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <div>
                <ul>

                    <li>
                      <a href="https://fusiontables.google.com/embedviz?q=select+col22+from+1IcoXZ7XHA4uhvqXAP9n3fjjsN6eJ1uWfOIH3Xgc3&viz=MAP&h=false&lat=-30.181889210073138&lng=-49.61088779443355&t=1&z=7&l=col22&y=2&tmplt=2&hml=KML">O Rio Grande do Sul</a>

                    </li>

                    <li>
                      <a href="https://fusiontables.google.com/embedviz?q=select+col22+from+1IcoXZ7XHA4uhvqXAP9n3fjjsN6eJ1uWfOIH3Xgc3&viz=MAP&h=false&lat=-30.181889210073138&lng=-49.61088779443355&t=1&z=7&l=col22&y=2&tmplt=2&hml=KML">Clima</a>

                    </li>

                    <li>
                      <a href="https://fusiontables.google.com/embedviz?q=select+col22+from+1IcoXZ7XHA4uhvqXAP9n3fjjsN6eJ1uWfOIH3Xgc3&viz=MAP&h=false&lat=-30.181889210073138&lng=-49.61088779443355&t=1&z=7&l=col22&y=2&tmplt=2&hml=KML">Cultura</a>

                    </li>

                    <li>
                      <a href="https://fusiontables.google.com/embedviz?q=select+col22+from+1IcoXZ7XHA4uhvqXAP9n3fjjsN6eJ1uWfOIH3Xgc3&viz=MAP&h=false&lat=-30.181889210073138&lng=-49.61088779443355&t=1&z=7&l=col22&y=2&tmplt=2&hml=KML">Saude Ambiental</a>

                    </li>

                    <li>
                      <a href="https://fusiontables.google.com/embedviz?q=select+col22+from+1IcoXZ7XHA4uhvqXAP9n3fjjsN6eJ1uWfOIH3Xgc3&viz=MAP&h=false&lat=-30.181889210073138&lng=-49.61088779443355&t=1&z=7&l=col22&y=2&tmplt=2&hml=KML">Demografia</a>

                    </li>




                </ul>


                <p>

                </p>





              </div>





            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </a>
            </h5>
          </div>



          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
              dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
              moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
              assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
              wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
              vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
              synth nesciunt you probably haven't heard of them accusamus labore
              sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </a>
            </h5>
          </div>



          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
              richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
              dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
              moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
              assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
              wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
              vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
              synth nesciunt you probably haven't heard of them accusamus labore
              sustainable VHS.
            </div>
          </div>
        </div>
      </div>

</div>
<div>
</div>

  <div class="box-texto">


    <p>
      O estado do Rio Grande do Sul está localizado no extremo sul do país,
      abaixo do trópico de Capricórnio. Seu clima é o subtropical úmido
      (temperado), o que significa que suas estações são muito bem definidas,
      isto é, tem-se período de verão, de outono, de inverno e de primavera.
      Apenas reproduzir esse tipo de informação, não parece trazer à tona de
      nossas discussões o que realmente interessa ao estado do Rio Grande do Sul
      com relação ao seu desenvolvimento econômico, a sua qualidade de vida e também ao apreço
      com o ambiente em que se vive. Entretanto, tais informações colidos de livros didáticos
      do quinto ano do Ensino Fundamental, podem servir como um alerta de que existe alguma coisa
      de diferente em nosso clima, pois cada vez mais se presencia certa indefinição climatica
      com o passar dos dias.
    </p>

  </div>
