<div id="div01">
    
  
    <fieldset style="text-align:justify;"> 
      
      <p>
      A concepção desse projeto e dos elementos que o compõem, deu-se partindo de um levantamento prévio de 
      dados secundários em multifontes (dados anteriormente coletados e que estão disponíveis para consulta em 
      bases de acesso público) e da reunião dos mesmos a fim de gerar os mapas temáticos. Além disso um 
      material complementar, tais como os mapas descritivos e textos analíticos de apoio às reflexões acerca 
      da relação entre as temáticas saúde, ambiente e desenvolvimento que aqui se apresentam.
      </p>
      <p>
      Por meio do levantamentos desses dados secundários, disponibilizados pelo Instituto Brasileiro de 
      Geografia e Estatística (IBGE), Ministério da Saúde, Ministério do Planejamento, Orçamento e Gestão, 
      Fundação de Economia e Estatística do Rio Grande do Sul (FEE), Atlas Brasil de Desenvolvimento Humano 
      e o Sistema Nacional de Informações sobre Saneamento (SNIS), entre outros, foram elaboradas planilhas 
      de banco de dados, em cujos mesmos foram organizados, sistematizados e padronizados a fim de servirem 
      de base para a elaboração dos mapas.          
      </p>
      <p>
      Os dados foram levantados em escala temporal e são relacionados aos aspectos de saúde, sócio­demográficos, 
      ecnômicos, habitacionais e ambientais do Rio Grande do Sul e seus municípios. Ainda, alguns dados serviram 
      de fonte para a construção de indicadores e índices através de cálculos e modelos, tais como o Índice de 
      Carência Habitacional (ICH) e o Índice de Desenvolvimento Humano Municipal (IDHM)  que refletem, 
      respectivamente, a oferta de serviços elementares de saneamento básico e as dimensões do desenvolvimento 
      humano em uma determinada localidade e em certas esferas.
      </p>
      <p>
      Os mapas estáticos foram confeccionados no software ArcGIS 9.3 após a elaboração do banco de dados que 
      reuniu, de forma padronizada, as variáveis selecionadas a partir das fontes supramencionadas.
      </p>
    </fieldset>
  </div>
  